.cn--button-layout {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  .button-layout--key {
    &.mod--hovered{
      background-color: rgba(0,255,255, .5);
    }
    &.mod-selected {
      background-color: rgba(11, 156, 49, .5);
    }
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
  }
}
