.cn--button-layout {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  .button-layout--key {
    &.mod--ring {
      position:absolute;
    }
    &.mod--hovered{
      background-color: rgba(0,255,255, .5);
    }
    &.mod-selected {
      background-color: rgba(11, 156, 49, .5);
    }
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
  }
}
